In [1]:
import tensorflow as tf
print(tf.__version__)

C:\Users\hpw\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\hpw\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\hpw\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\hpw\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\hpw\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\hpw\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

1.14.0

C:\Users\hpw\AppData\Roaming\Python\Python36\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\hpw\AppData\Roaming\Python\Python36\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\hpw\AppData\Roaming\Python\Python36\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\hpw\AppData\Roaming\Python\Python36\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\hpw\AppData\Roaming\Python\Python36\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\hpw\AppData\Roaming\Python\Python36\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
import tensorflow as tf
print(tf.__version__)

1.14.0

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import cv2
from PIL import Image

import tensorflow as tf
import tensorflow.keras as keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Activation,Dropout,Flatten,Dense,Dropout,BatchNormalization
from tensorflow.keras.preprocessing.image import ImageDataGenerator,img_to_array,load_img
from tensorflow.keras.optimizers import Adam

In [19]:
keras.layers.LayerNormalization()

In [25]:
data = pd.read_csv("D:/AdienceBenchmarkGenderAndAgeClassification/fold_3_data.txt",sep = "\t" )
data1 = pd.read_csv("D:/AdienceBenchmarkGenderAndAgeClassification/fold_1_data.txt",sep = "\t")
data2 = pd.read_csv("D:/AdienceBenchmarkGenderAndAgeClassification/fold_2_data.txt",sep = "\t")
data3 = pd.read_csv("D:/AdienceBenchmarkGenderAndAgeClassification/fold_0_data.txt",sep = "\t")
data4 = pd.read_csv("D:/AdienceBenchmarkGenderAndAgeClassification/fold_4_data.txt",sep = "\t")

In [26]:
total_data = pd.concat([data, data1, data2, data3, data4], ignore_index=True)
print(data.shape)
print(total_data.shape)

(3446, 12)
(19370, 12)

In [27]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19370 entries, 0 to 19369
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             19370 non-null  object
 1   original_image      19370 non-null  object
 2   face_id             19370 non-null  int64
 3   age                 19370 non-null  object
 4   gender              18591 non-null  object
 5   x                   19370 non-null  int64
 6   y                   19370 non-null  int64
 7   dx                  19370 non-null  int64
 8   dy                  19370 non-null  int64
 9   tilt_ang            19370 non-null  int64
 10  fiducial_yaw_angle  19370 non-null  int64
 11  fiducial_score      19370 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.8+ MB

In [28]:
total_data.head()

,user_id,original_image,face_id,age,gender,x,y,dx,dy,tilt_ang,fiducial_yaw_angle,fiducial_score
0,113445054@N07,11763777465_11d01c34ce_o.jpg,1322,"(25, 32)",m,1102,296,357,357,-15,0,59
1,113445054@N07,11763777465_11d01c34ce_o.jpg,1323,"(25, 32)",f,1713,580,325,325,-5,0,118
2,113445054@N07,11763777465_11d01c34ce_o.jpg,1324,"(15, 20)",f,1437,664,306,306,5,0,109
3,113445054@N07,11764005785_f21921aea6_o.jpg,1325,"(25, 32)",f,978,229,803,803,-20,-45,16
4,113445054@N07,11763728674_a41d99f71e_o.jpg,1326,"(25, 32)",m,1745,910,242,242,-10,0,55

In [30]:
df = total_data[['age', 'gender', 'x', 'y', 'dx', 'dy']].copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19370 entries, 0 to 19369
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     19370 non-null  object
 1   gender  18591 non-null  object
 2   x       19370 non-null  int64
 3   y       19370 non-null  int64
 4   dx      19370 non-null  int64
 5   dy      19370 non-null  int64
dtypes: int64(4), object(2)
memory usage: 908.1+ KB

In [31]:
img_path = []
for row in total_data.iterrows():
    path = "D:/AdienceBenchmarkGenderAndAgeClassification/faces/"+row[1].user_id+"/coarse_tilt_aligned_face."+str(row[1].face_id)+"."+row[1].original_image
    img_path.append(path)

df['img_path'] = img_path

In [32]:
df.head()

,age,gender,x,y,dx,dy,img_path
0,"(25, 32)",m,1102,296,357,357,D:/AdienceBenchmarkGenderAndAgeClassification/...
1,"(25, 32)",f,1713,580,325,325,D:/AdienceBenchmarkGenderAndAgeClassification/...
2,"(15, 20)",f,1437,664,306,306,D:/AdienceBenchmarkGenderAndAgeClassification/...
3,"(25, 32)",f,978,229,803,803,D:/AdienceBenchmarkGenderAndAgeClassification/...
4,"(25, 32)",m,1745,910,242,242,D:/AdienceBenchmarkGenderAndAgeClassification/...

In [33]:
age_mapping = [('(0, 2)', '0-2'), ('2', '0-2'), ('3', '0-2'), ('(4, 6)', '4-6'), ('(8, 12)', '8-13'), ('13', '8-13'), ('22', '15-20'), ('(8, 23)','15-20'), ('23', '25-32'), ('(15, 20)', '15-20'), ('(25, 32)', '25-32'), ('(27, 32)', '25-32'), ('32', '25-32'), ('34', '25-32'), ('29', '25-32'), ('(38, 42)', '38-43'), ('35', '38-43'), ('36', '38-43'), ('42', '48-53'), ('45', '38-43'), ('(38, 43)', '38-43'), ('(38, 42)', '38-43'), ('(38, 48)', '48-53'), ('46', '48-53'), ('(48, 53)', '48-53'), ('55', '48-53'), ('56', '48-53'), ('(60, 100)', '60+'), ('57', '60+'), ('58', '60+')]

age_mapping_dict = {each[0]: each[1] for each in age_mapping}
drop_labels = []
for idx, each in enumerate(df.age):
    if each == 'None':
        drop_labels.append(idx)
    else:
        df.age.loc[idx] = age_mapping_dict[each]

df = df.drop(labels=drop_labels, axis=0) #droped None values
df.age.value_counts(dropna=False)

C:\Users\hpw\anaconda3\envs\py36\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

25-32    5296
38-43    2776
0-2      2509
8-13     2292
4-6      2140
15-20    1792
48-53     916
60+       901
Name: age, dtype: int64

In [34]:
df = df.dropna()
unbiased_data = df[df.gender != 'u'].copy()
unbiased_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17452 entries, 0 to 19345
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       17452 non-null  object
 1   gender    17452 non-null  object
 2   x         17452 non-null  int64
 3   y         17452 non-null  int64
 4   dx        17452 non-null  int64
 5   dy        17452 non-null  int64
 6   img_path  17452 non-null  object
dtypes: int64(4), object(3)
memory usage: 1.1+ MB

In [35]:
gender_to_label_map = {
    'f' : 0,
    'm' : 1
}

age_to_label_map = {
    '0-2'  :0,
    '4-6'  :1,
    '8-13' :2,
    '15-20':3,
    '25-32':4,
    '38-43':5,
    '48-53':6,
    '60+'  :7
}

# label_to_age_map = {value: key for key, value in age_to_label_map.items()}
# label_to_gender_map = {value: key for key, value in gender_to_label_map.items()}

unbiased_data['age'] = unbiased_data['age'].apply(lambda age: age_to_label_map[age])
unbiased_data['gender'] = unbiased_data['gender'].apply(lambda g: gender_to_label_map[g])

unbiased_data.head()

,age,gender,x,y,dx,dy,img_path
0,4,1,1102,296,357,357,D:/AdienceBenchmarkGenderAndAgeClassification/...
1,4,0,1713,580,325,325,D:/AdienceBenchmarkGenderAndAgeClassification/...
2,3,0,1437,664,306,306,D:/AdienceBenchmarkGenderAndAgeClassification/...
3,4,0,978,229,803,803,D:/AdienceBenchmarkGenderAndAgeClassification/...
4,4,1,1745,910,242,242,D:/AdienceBenchmarkGenderAndAgeClassification/...

In [ ]:
classes=['0-2','4-6','8-13','15-20','25-32','38-43','48-53','60+']

In [36]:
X = unbiased_data[['img_path']]
y = unbiased_data[['age']]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

print('Train data shape {}'.format(X_train.shape))
print('Test data shape {}'.format(X_test.shape))

Train data shape (12216, 1)
Test data shape (5236, 1)

In [37]:
train_images = []
test_images = []

for row in X_train.iterrows():
    image = Image.open(row[1].img_path)
    image = image.resize((227, 227))   # Resize the image
    data = np.asarray(image)
    train_images.append(data)

for row in X_test.iterrows():
    image = Image.open(row[1].img_path)
    image = image.resize((227, 227))  # Resize the image
    data = np.asarray(image)
    test_images.append(data)

train_images = np.asarray(train_images)
test_images = np.asarray(test_images)

print('Train images shape {}'.format(train_images.shape))
print('Test images shape {}'.format(test_images.shape))

Train images shape (12216, 227, 227, 3)
Test images shape (5236, 227, 227, 3)

In [5]:
model=Sequential()

#1 conv layer
model.add(Conv2D(96,(7,7),padding='same',input_shape=(227,227,3)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(3,3),strides=(2,2)))
model.add(keras.layers.LayerNormalization())

#2 conv layer
model.add(Conv2D(256,(5,5),padding='same'))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(3,3),strides=(2,2)))
model.add(keras.layers.LayerNormalization())

#3 conv layer
model.add(Conv2D(384,(3,3),padding='same'))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(3,3),strides=(2,2)))

model.add(Flatten())

model.add(Dense(512))
model.add(Activation('relu'))
model.add(Dropout(0.5))

model.add(Dense(512))
model.add(Activation('relu'))
model.add(Dropout(0.5))


model.add(Dense(8,activation='softmax'))

#opt=Adam(lr=0.0001)
#model.compile(optimizer=opt,loss='categorical_crossentropy',metrics=['accuracy'])
#model.summary()

In [6]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_4 (Conv2D)            (None, 227, 227, 96)      14208
_________________________________________________________________
activation (Activation)      (None, 227, 227, 96)      0
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 113, 113, 96)      0
_________________________________________________________________
layer_normalization_3 (Layer (None, 113, 113, 96)      192
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 113, 113, 256)     614656
_________________________________________________________________
activation_1 (Activation)    (None, 113, 113, 256)     0
_________________________________________________________________
max_pooling2d_5 (MaxPooling2 (None, 56, 56, 256)       0
_________________________________________________________________
layer_normalization_4 (Layer (None, 56, 56, 256)       512
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 56, 56, 384)       885120
_________________________________________________________________
activation_2 (Activation)    (None, 56, 56, 384)       0
_________________________________________________________________
max_pooling2d_6 (MaxPooling2 (None, 27, 27, 384)       0
_________________________________________________________________
flatten_1 (Flatten)          (None, 279936)            0
_________________________________________________________________
dense_3 (Dense)              (None, 512)               143327744
_________________________________________________________________
activation_3 (Activation)    (None, 512)               0
_________________________________________________________________
dropout_2 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_4 (Dense)              (None, 512)               262656
_________________________________________________________________
activation_4 (Activation)    (None, 512)               0
_________________________________________________________________
dropout_3 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_5 (Dense)              (None, 8)                 4104
=================================================================
Total params: 145,109,192
Trainable params: 145,109,192
Non-trainable params: 0
_________________________________________________________________

In [3]:

model = Sequential()
model.add(Conv2D(input_shape=(227, 227, 3), filters=96, kernel_size=(7, 7), strides=4, padding='valid', activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2),strides=(2,2)))
model.add(keras.layers.LayerNormalization())
model.add(Conv2D(filters=256, kernel_size=(5, 5), strides=1, padding='same', activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2),strides=(2,2)))
model.add(keras.layers.LayerNormalization())
model.add(Conv2D(filters=256, kernel_size=(3, 3), strides=1, padding='same', activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2),strides=(2,2)))
model.add(keras.layers.LayerNormalization())

model.add(Flatten())
model.add(Dense(units=512, activation='relu'))
model.add(Dropout(rate=0.25))
model.add(Dense(units=512, activation='relu'))
model.add(Dropout(rate=0.25))
model.add(Dense(units=2, activation='softmax'))

In [4]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 56, 56, 96)        14208
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 28, 28, 96)        0
_________________________________________________________________
layer_normalization (LayerNo (None, 28, 28, 96)        192
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 28, 28, 256)       614656
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 14, 14, 256)       0
_________________________________________________________________
layer_normalization_1 (Layer (None, 14, 14, 256)       512
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 14, 14, 256)       590080
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 7, 7, 256)         0
_________________________________________________________________
layer_normalization_2 (Layer (None, 7, 7, 256)         512
_________________________________________________________________
flatten (Flatten)            (None, 12544)             0
_________________________________________________________________
dense (Dense)                (None, 512)               6423040
_________________________________________________________________
dropout (Dropout)            (None, 512)               0
_________________________________________________________________
dense_1 (Dense)              (None, 512)               262656
_________________________________________________________________
dropout_1 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 1026
=================================================================
Total params: 7,906,882
Trainable params: 7,906,882
Non-trainable params: 0
_________________________________________________________________

In [40]:
callback = tf.keras.callbacks.EarlyStopping(monitor='loss', patience=3) # Callback for earlystopping
model.compile(optimizer='adam', loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True), metrics=['accuracy'])
history = model.fit(train_images, y_train, batch_size=32, epochs=5, validation_data=(test_images, y_test), callbacks=[callback])

Train on 12216 samples, validate on 5236 samples
Epoch 1/5
12216/12216 [==============================] - 7706s 631ms/sample - loss: 1.9824 - acc: 0.2915 - val_loss: 1.9677 - val_acc: 0.3063
Epoch 2/5
12216/12216 [==============================] - 8346s 683ms/sample - loss: 1.9764 - acc: 0.2976 - val_loss: 1.9677 - val_acc: 0.3063
Epoch 3/5
12216/12216 [==============================] - 8324s 681ms/sample - loss: 1.9764 - acc: 0.2976 - val_loss: 1.9677 - val_acc: 0.3063
Epoch 4/5
12216/12216 [==============================] - 8048s 659ms/sample - loss: 1.9764 - acc: 0.2976 - val_loss: 1.9677 - val_acc: 0.3063
Epoch 5/5
12216/12216 [==============================] - 8766s 718ms/sample - loss: 1.9764 - acc: 0.2976 - val_loss: 1.9677 - val_acc: 0.3063

In [41]:
model.save('age_model.h5')

In [42]:
model_json=model.to_json()
with open("agemodel.json","w") as json_file:
    json_file.write(model_json)

In [43]:
model.save('age_detection.model')